:root {
  --color-primario: #A06F4C;
  --color-secundario: #EFD8B1;
  --color-negro: #000000;
  --color-blanco: #FFFFFF;
  --color-hover: #895b3a; /* Color al pasar el ratón */
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-secundario); /* Fondo de toda la página */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Usamos toda la altura de la ventana */
  color: var(--color-primario);
}

/* Contenedor principal para el logo y el título */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario); /* Fondo de todo el contenedor */
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenido del contenedor, logo y título */
.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.admin-logo img {
  width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

h1 {
  color: var(--color-blanco); /* Color blanco para el título */
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

/* Filtros */
.filtros {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-primario);
  font-size: 14px;
  color: var(--color-primario);
  background-color: var(--color-blanco);
}

select:focus {
  outline: none;
  border-color: var(--color-hover);
}

/* Estilo de la tabla */
.admin-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.admin-table th, .admin-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--color-primario);
}

.admin-table th {
  background-color: var(--color-primario);
  color: var(--color-blanco);
}

.volver-btn-container {
  text-align: center;
  margin-top: 20px; /* Espacio entre la tabla y el botón */
}

.volver-btn-container a {
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.volver-btn-container .button {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.volver-btn-container .button:hover {
  background-color: var(--color-hover);
}

.volver-btn-container .button:active {
  background-color: #6c4b32;
}
