/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  background-image: url('../Galletas-Sunkissed/Imagenes/Background2.svg');
}

.container {
  background-color: var(--color-blanco);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

h2 {
  text-align: center;
  color: var(--color-primario);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-primario);
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: #895b3a;  /* Resalta el borde con un color más oscuro */
  outline: none;
}

button {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #895b3a; /* Color al pasar el mouse */
}

button:active {
  background-color: #6c4b32; /* Color al hacer clic */
}

.error-message,
.success-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.success-message {
  color: green;
  font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }

  button {
    font-size: 14px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-size: 14px;
  }
}
